html{
  background:linear-gradient(#f3cb4a, #790f0c, black);
  scrollbar-color: red black;
}


header{
  display: flex;
  align-items: center;
  position: sticky;
  width: 100vw;
  height: auto;
  max-height: 200px;
  top: 0;
  background: linear-gradient(#eec347,#e3b342);
  text-align: center;
  font-family: Helvetica;
  font-size: 3rem;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: #000000;
}



.icon{
  margin-left: auto;
}

}
//h1{
  text-align: center;
  font-family: Helvetica;
  font-size: 5rem;
  display: inline-block;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  white-space: nowrap;
  text-overflow: ellipsis;
}



h2{
  text-align: center;
  font-family: ArHelvetica;
  font-size: 2rem;
  margin-top: 5px;
}



#image, .image_frame{
  max-width: 100%;
  max-height: 50%;
  display: block;
  margin:  auto;
  color: white;
}



.img-caption{
  text-align: center;
  font-size: 25;
  padding: 0 0 30px;
  color: #f3cb4a;
}







.additional_info{
  color: #f3cb4a;
  padding: 0 30;
}



p{
  font-size: 2rem;
  font-family:;
  text-align: center;
}

audio{
  background: red;
  width: auto;
  height: 40px 
}

.lists{
  text-align: left;
  display: inline-block;
  font-size: 60px;
}

.list{
  text-align: center
}

#tribute-link{
  max-width: 100px;
  display: block;
  margin: auto;
}

footer{
  color: #eec347;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 2rem;
    padding: 10px;
  }

  h1 {
    font-size: 4rem;
  }

  .icon {
    margin-left: 10px;
  }
}
